@model IEnumerable<IGrouping<trabajo.Models.Categoria, trabajo.Models.Producto>>

@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <h1>Lista de productos</h1>
</div>


<div class="container py-5">
    <div class="row">
        <!-- Lista de productos -->
        <div class="col-md-8" id="productos-list">
            @foreach (var categoria in Model)
            {
                <section class="mb-5">
                    <h2 class="mb-4">@categoria.Key.Descripcion</h2>
                    <div class="row">
                        @foreach (var producto in categoria)
                        {
                            <div class="col-md-4 mb-4">
                                <div class="card product-card">
                                    <img src="@Url.Content("~/images/" + producto.NombreImagen)" class="card-img-top product-img" alt="@producto.Nombre">
                                    <div class="card-body">
                                        <h5 class="card-title">@producto.Nombre</h5>
                                        <p class="card-subtitle mb-2 text-muted">@producto.Descripcion</p>
                                        <p class="card-text">$@producto.Precio</p>
                                        <button class="btn btn-warning w-100 add-to-cart" data-name="@producto.Nombre" data-price="@producto.Precio">Agregar al carrito</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            }
        </div>

        <!-- Carrito -->
        <div class="col-md-4 align-items-center">
            <h3 class="text-center">Tu Carrito</h3>
            <ul id="cart-items" class="list-group mb-3 ml-4">
                <!-- Cart items will be dynamically added here -->
            </ul>
            <h4 class="text-lg-end">Total: $<span id="cart-total">0.00</span></h4>
            <button id="checkout" class="btn checkout-btn text-white">Checkout</button>
        </div>
    </div>
</div>

