@model trabajo.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro que quieres eliminar este producto ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mb-4">Nombre: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2 mb-4">Descripcion: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2 mb-4">Precio: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2 mb-4">Ruta de la Imagen: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RutaImagen)
        </dd>
        <dt class="col-sm-2 mb-4">Nombre de Imagen: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreImagen)
        </dd>
        <!-- Mostrar la imagen -->
        <dt class="col-sm-2 mb-4">Imagen: </dt>
        <dd class="col-sm-10">
            <img src="@ViewData["RutaImagen"]" alt="Imagen del producto" height="200" width="300" />
        </dd>
        <dt class="col-sm-2 mb-4">Fecha de Carga: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCarga)
        </dd>
        <dt class="col-sm-2 mb-2">Categoria: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaNavigation.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProducto" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-primary">Volver a la Lista</a>
    </form>
</div>
