@model trabajo.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Poducto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mb-4">Nombre: </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2 mb-4">Descripcion: </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2 mb-4">Precio: </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2 mb-4">Ruta de la Imagen: </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutaImagen)
        </dd>
        <dt class = "col-sm-2 mb-4">Nombre de Imagen: </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreImagen)
        </dd>
        <!-- Mostrar la imagen -->
        <dt class="col-sm-2 mb-4">Imagen: </dt>
        <dd class="col-sm-10">
            <img src="@ViewData["RutaImagen"]" alt="Imagen del producto" height="200" width="300" />
        </dd>
        <dt class="col-sm-2 mb-4">Fecha de Carga: </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCarga)
        </dd>
        <dt class="col-sm-2 mb-2">Categoria: </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProducto" class="btn btn-outline-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-danger">Volver a la Lista</a>
</div>
